#link_jogar {
      /* Inicia oculto */
      display: none;
   
      /* Cores e fundo */
      color: yellow;
      background: url(img/botao-jogar.png);
         
      /* Fonte */
      font-size: 20px;
      font-family: sans-serif;
      
      /* Sem sublinhado e com sombra */
      text-decoration: none;
      text-shadow: 2px 2px 5px black;
         
      /* Posicionamento */
      position: absolute;
     

      /* A imagem do botão é 72x72, descontamos os paddings */
      width: 52px;
      height: 26px;
      padding: 23px 10px;
}

body{
      background-color: #000;
}
.flex-container2{
      display: flex;
      align-items: center;
      justify-content: center;
}
.flex-container > div{
	display: flex;
	align-items: center;
	justify-content: center;
}
header{
	width: 100%;
	height: 150px;
	background-color: #000;
}
#banner{
	width: 1000px;
}
#box{
      height: 200px;
      width: 203px;
      border: 10px;
      border-style: solid;
      border-color: #212121;
}
#bodyText{
      display: flex;
      font-family: arial;
      background-color: #F9FBE7;
      height: 100%;
      width: 1000px;
      padding-left: 20px;
      padding-right: 20px;
      text-align: justify;
      justify-content: center;
      flex-direction: column;
}
#pp{
      font-family: courier new;
      font-size: 14px;
      font-style: italic;
}
#pp2{
      font-family: courier new;
      font-size: 16px;
      font-style: italic;
}
.textform{
      font-family: arial;
      font-size: 16px;
      text-align: justify;

}

.titulos{
      font-family: arial;
      font-size: 20px;
      font-weight: bold;
      text-align: left;
}
#fig6{
      height: 294px;
      width: 300px;
}
#fig5{
      height: 326px;
      width: 600px;
}
#fig4{
      height: 454px;
      width: 800px;
}
#fig3{
      height: 500px;
      width: 250px;
}
#fig2{
      height: 300px;
      width: 137px;
}
#fig1{
      height: 168px;
      width: 300px;
}
.coment{
      font-family: times;
      font-size: 14px;
      font-weight: bold;
}

#footer{
      background-color: #000;
}
footer{
      background-color: #F9FBE7;
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      color: #ffffff;
      text-align: center;
}